.header {
    width: 100%;
}

h1, h2, h3, h4 {
    text-align: center;
}

body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: left;

}

select {
    font-family: "Raleway", sans-serif;
    font-style: italic;
    border-radius: 25px;

}

.child {
    float: left; 
    width: 42%; 
    margin-left: 4%;
    margin-right: 4%;
}

.goals-and-measurements {
    margin: 2%;
    width: 90%;
    display: inline-block;
    height: 8%;
}

input, select {
    outline: 0;
    border-color: #445361;
    text-align: center;
    float: right;
}

input{
    width: 10%;
    border-width: 0 0 1px;
}

button {
    border-radius:25px;
    margin: auto;
    float: center;
    text-align:center;
    font-size:100%;
    background-color: #3a3a3a;
    color: white;
    display:block;
}

button:hover {
    color: #3a3a3a;
    background-color:#C0C0C0;
}

.goals-and-measurements select {
    float: center;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

label {
    margin: 2%;
}

#desired {
    margin-top: 10%;
}

.macro span {
    width: 32%;
    display: inline-block;
    text-align: center;
    margin-top: 1%;
    border-radius: 3px 3px 3px;
    border: 1px solid #445361;
}

#current-cals, #target-cals {
    margin-top: 4%;
    font-size: 150%;
    color: goldenrod;
}

.calories {
    margin-top: 5.5%;
}


footer {
    clear:both;
    position: fixed;
    padding-top: 1%;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-weight: 600;
    color: white;
    background-color: #445361;
}

/* for screens size from 1080px wide and down */
@media screen and (max-width: 1080px) {
    
    .macro span, input {
        font-size: 75%;
    }

}

/* for screens size from 950px wide and down */
@media screen and (max-width: 950px) {

    .child {
        clear: both;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 1%;
        width: 80%;
    
    }

    footer {
        clear: top;
        position: relative;
    }
    
}

/* for screens size from 460px wide and down */
@media screen and (max-width: 460px) {
    
    .macro span {
        width: 30%;
    }

    .macro span, input {
        font-size: 65%;
    }

}