.header {
    width: 100%;
}

h1, h2, h3, h4 {
    text-align: center;
}

body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: left;
}

select {
    font-family: "Raleway", sans-serif;
    font-style: italic;
    border-radius: 25px;

}

.child {
    float: left; 
    width: 42%; 
    margin-left: 4%;
    margin-right: 4%;
}

.goals-and-measurements {
    margin: 2%;
    width: 90%;
    display: inline-block;
    height: 8%;
}

input, select {
    outline: 0;
    border-color: #445361;
    text-align: center;
    float: right;
}

input{
    width: 10%;
    border-width: 0 0 1px;
}

button {
    border-radius:25px;
    margin: auto;
    float: center;
    text-align:center;
    font-size:100%;
    background-color: #3a3a3a;
    color: white;
    display:block;
}

button:hover {
    color: #3a3a3a;
    background-color:#C0C0C0;
}

.goals-and-measurements select {
    float: center;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

label {
    margin: 2%;
}

#desired {
    margin-top: 10%;
}

.macro span {
    width: 32%;
    display: inline-block;
    text-align: center;
    margin-top: 1%;
}

#current-cals, #target-cals {
    margin-top: 4%;
    font-size: 150%;
    color: goldenrod;
}

.calories {
    margin-top: 5.5%;
}


footer {
    clear:both;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-weight: 600;
}